body{
  font-family: "HelveticaNeue-light",Helvetica,Arial,sans-serif;
  color: black;
  background: #f7f7f7;
}

.container{
  background: white;
  max-width: 1024px;

}

.header{
  height: 100px;
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px 15px;

}

#headerID{
  position: relative;
}
.navbar.navbar-default{
  margin-bottom: 0px !important;
}
.navbar-default{
  border: 0px !important;
  border-color: white !important;
}

#logo-spark, .about{
  font-family: "Helvetica Neue-bold",Helvetica,Arial,sans-serif;
  font-size: 25px;
  color: black;
}

#logo-tc{
  font-family: "Helvetica Neue-light",Helvetica,Arial,sans-serif;
  font-size: 25px;
  color: #f05524;
}

.logo-curlys{
  font-family: "Helvetica Neue-light",Helvetica,Arial,sans-serif;
  font-size: 25px;
  color: black;
  font-weight: 100;

}
.menu-item {
  padding: 0px 15px;
  margin-left: 10px;

}

.menu-item > a,
.dropdown > a{
  font-family: "Helvetica Neue-bold",Helvetica,Arial,sans-serif;
  color: black !important;
  font-weight: bold;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.menu-item>a:hover,
.dropdown > a:hover {
  border-bottom: 2px solid black;
}

.hiddenDropDown{
  background: #00455C;
  position: absolute;
  top: 100px;
  left: 98;
  z-index: 10;
  width: 1024px;
  height: 100px;
}

.dropdown > a{
  font-family: "Helvetica Neue-bold",Helvetica,Arial,sans-serif;
  color: black !important;
  font-weight: bold;


}

.resources{
  right:auto;
}

.resources > li{
  padding-left: 10px;
}

.carousel{
  margin-top: 0px;
}

div.car.ng-isolate-scrope{
  margin-top: 0px !important;
}
#slides_control {
  max-width:1024px;
}
