body{
  font-family: "HelveticaNeue-light",Helvetica,Arial,sans-serif;
  color: black;
  background: #f7f7f7;
}

.container{
  background: white;
  max-width: 1024px;

}

.header{
  height: 100px;
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px 15px;

}
.navbar.navbar-default{
  margin-bottom: 0px !important;
}
.navbar-default{
  border: 0px !important;
  border-color: white !important;
}

#logo-spark{
  font-family: "Helvetica Neue-bold",Helvetica,Arial,sans-serif;
  font-size: 25px;
  color: black;
}

#logo-tc{
  font-family: "Helvetica Neue-light",Helvetica,Arial,sans-serif;
  font-size: 25px;
  color: #f05524;
}

.logo-curlys{
  font-family: "Helvetica Neue-light",Helvetica,Arial,sans-serif;
  font-size: 25px;
  color: black;
  font-weight: 100;

}

.menu-item > a{
  font-family: "Helvetica Neue-bold",Helvetica,Arial,sans-serif;
  color: black !important;
  font-weight: bold;

}

.menu-item>a:hover,
.dropdown > a:hover {
  border-bottom: 2px solid black;
}


.dropdown > a{
  font-family: "Helvetica Neue-bold",Helvetica,Arial,sans-serif;
  color: black !important;
  font-weight: bold;
}

.resources{
  right:auto;
}

.resources > li{
  padding-left: 10px;
}

.carousel{
  /*padding-top: 100px;*/
  margin-top: 0px;
  background: green;
}
#slides_control{
  background: red;
}

/*img{
  margin:auto;
}*/
div.car.ng-isolate-scrope{
  margin-top: 0px !important;
}
#slides_control {
  max-width:1024px;
}
