<div class="container-fluid" id="partner-control">
</div>
<div class="container-fluid" id="partner-banner">
</div>
<div class="container contact-info" id="contact-info">
  <div class="row row-type">
    <div class="text-center parent">
      <h3 class="typing">
        <span class="about">{</span>
        <span class="about"> Contact Information</span>
        <span class="about">}</span>
        <span class="about blink">|</span>
      </h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="contact-info text-left">
      <h4 class="contact">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x "></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        Email: community@spark.tc
      </h4>
      <h4 class="contact">
        <a href="https://twitter.com/Apachespark_tc" class="twitter">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        Apachespark_tc
      </h4>
    </div>
  </div>
  <br>
  <br>
</div>
