<div class="container-fluid" id="slides_control">
</div>
<div class="container-fluid" id="intro_banner">
  <div class="row" >
    <div class="col-md-12 text-center">
      <h1 class="text-center sloganName">Open Analytics Ecosystem</h1>
      <a  class="btn btn-eco text-center" href="/#/partner">Join The Community</a>
    </div>
  </div>
  <br>
  <br>
</div>
<div class="container container-info">
  <div class="row">
    <div class="col-md-12 text-center">
      <a ng-repeat="partner in partners"  href="{{partner.url}}">
          <img  ng-src="{{partner.image}}" class="partners-logo" alt=""/>
      </a>
    </div>
  </div>
</div>
<div class="container img-rounded container-info" id="about">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center parent">
        <h3 class="text-center typing">
          <span class="about">{</span>
          <span class="about">{{content.title}}</span>
          <span class="about">}</span>
          <span class="about blink">|</span>
        </h3>
        <br>
        <br>
      </div>
      <div class="">
        <p class="text-justify about-text p-description">
          {{content.about}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container img-rounded container-info" id="about">
  <div class="row">
    <div class="col-md-12">
      <div class="parent">
        <h3 class="text-center typing">
          <span class="about">{</span>
          <span class="about">{{content.partnerTypes}}</span>
          <span class="about">}</span>
          <span class="about blink">|</span>
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid img-rounded container-types" id="about" ng-repeat="type in partnerTypes" ng-class-even="'even-color'">
  <div class="row row-type">
    <div class="col-md-12">
      <div class="col-md-6" ng-class-even="'pull-right'" ng-class-odd="'pull-left'">
        <img class="img-responsive img-rounded more" ng-src="{{type.image}}" alt="" />
      </div>
      <div class="col-md-6">
        <h3>{{type.title}}</h3>
        <br>
        <p class="p-description">
          {{type.description}}
        </p>
      </div>
    </div>
  </div>
   <div class="row row-type">
     <div class="col-md-12">
       <div class="table-responsive">
         <table class="table table-hover">
           <thead class="thead-inverse">
             <tr>
               <th ng-repeat="head in type.headTitles">
                 {{head}}
               </th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="benefit in type.benefits">
               <td>{{benefit.title}}</td>
               <td class="acquaintance-color" ng-repeat="check in benefit.checkList track by $index">{{check}}</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>
</div>
