<!DOCTYPE html>
<html ng-app="sparktc" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>Spark Technology Center</title>
    <!-- AngularJS source -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>

    </script>
    <!-- jQuery and bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/client/css/style.css">
    <!-- ui bootstrap for angular -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

   <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
   <!-- Add the slick-theme.css if you want default styling -->
   <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>

  </head>
  <body >
    <!-- navbar -->
    <div class="container-fluid" id="navbar-container" ng-controller="NavBarController">
      <nav class="navbar navbar-default navbar-fixed-top" id="transparentNav">
        <div class="container-fluid header" id="headerID">
          <div class="col-md-12">
            <div class="navbar-header">
              <a class="navbar-brand" id="logo" href="http://www.spark.tc/">
                <span class="logo-curlys">{</span>
                <span class="logo-spark">spark</span>
                <span id="logo-tc">.tc</span>
                <span class="logo-curlys">}</span>
              </a>
            </div>
            <ul class="nav navbar-nav navbar-right" id="headerMenu">
                <li class="menu-item"><a class="img-rounded" href="/#/"> Join Community</a></li>
                <li class="menu-item normal"><a class="img-rounded" href="/#/contact"> Contact</a></li>
                <li class="menu-item normal" ng-click="gotoElement('about')"><a class="img-rounded" href="/#/"> About</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- ng-view -->
    <div ng-view class="">

    </div>

  <footer class="footer" ng-controller="FooterController">
    <div class="container-fluid footer text-center">
      <div class="row">
        <div>
          <p>
            <span>{{index.footer}}</span>
            <a href="https://twitter.com/Apachespark_tc">
              <span class="fa-stack fa-lg twitter-color">
                <i class="fa fa-square-o fa-stack-2x "></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
   </div>
  </footer>

  <script src="/client/app.js"></script>
  <script src="/client/js/controller.js"></script>
  <script src="/client/js/services.js"></script>
  <script src="/client/js/directives.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

  </body>
</html>
