
<div class="container-fluid" id="partner-control">
</div>

<div class="container-fluid" id="partner-banner">
  <div class="row partner-background">
    <div class="col-md-12 text-center">
      <h1 class="text-center sloganName">Partner With Open Analytics Ecosystem</h1>
      <a  class="btn btn-eco text-center" href="/#/partner/apply">Apply Now</a>
    </div>
  </div>
</div>
<div class="container container-info">
  <div class="row">
    <div class="col-md-12 col-md-offset">
      <div class="text-center parent">
        <h3 class="text-center typing">
          <span class="about">{</span>
          <span class="about">What You Get</span>
          <span class="about">}</span>
          <span class="about blink">|</span>
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="container container-info">
  <div class="row text-center">
    <div class="col-md-12">
      <div class="partner-status">
        <div class="acquaintance text-center">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
          <g>
          	<path d="M32,92c11.047,0,20-8.953,20-20s-8.953-20-20-20s-20,8.953-20,20S20.953,92,32,92z M32,56c8.822,0,16,7.178,16,16
          		s-7.178,16-16,16s-16-7.178-16-16S23.178,56,32,56z"/>
          	<path d="M76,72c0,11.047,8.953,20,20,20s20-8.953,20-20s-8.953-20-20-20S76,60.953,76,72z M96,56c8.822,0,16,7.178,16,16
          		s-7.178,16-16,16s-16-7.178-16-16S87.178,56,96,56z"/>
          	<path d="M84,28c0-11.047-8.953-20-20-20s-20,8.953-20,20s8.953,20,20,20S84,39.047,84,28z M64,44c-8.822,0-16-7.178-16-16
          		s7.178-16,16-16s16,7.178,16,16S72.822,44,64,44z"/>
          	<path d="M48,100H16c-4.418,0-8,3.582-8,8v12h48v-12C56,103.582,52.418,100,48,100z"/>
          	<path d="M112,100H80c-4.418,0-8,3.582-8,8v12h48v-12C120,103.582,116.418,100,112,100z"/>
          </g>
          </svg>

        </div>
        <h3>Acquaintance</h3>
      </div>
      <div class="partner-status">
        <div class="friend text-center">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
          <g>
          	<path d="M96,36c8.836,0,16-7.164,16-16S104.836,4,96,4c-8.836,0-16,7.164-16,16S87.164,36,96,36z M96,8c6.617,0,12,5.383,12,12
          		s-5.383,12-12,12c-6.617,0-12-5.383-12-12S89.383,8,96,8z"/>
          	<path d="M108,44H84L64,64L44,44H20c-4.418,0-8,3.582-8,8v32l8,8v28c0,2.209,1.789,4,4,4h16c2.211,0,4-1.791,4-4V64l20,20l20-20v56
          		c0,2.209,1.789,4,4,4h16c2.211,0,4-1.791,4-4V92l8-8V52C116,47.582,112.418,44,108,44z"/>
          	<path d="M32,36c8.836,0,16-7.164,16-16S40.836,4,32,4c-8.836,0-16,7.164-16,16S23.164,36,32,36z M32,8c6.617,0,12,5.383,12,12
          		s-5.383,12-12,12c-6.617,0-12-5.383-12-12S25.383,8,32,8z"/>
          </g>
          </svg>
        </div>
        <h3 >Friend</h3>
      </div>
      <div class="partner-status">
        <div class="bff text-center">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
          <path d="M88,16c-10.203,0-19.105,5.477-24,13.631C59.105,21.477,50.203,16,40,16c-15.465,0-28,12.535-28,28
            c0,7.732,3.043,14.824,8,20c11.26,11.758,44,48,44,48s32.74-36.242,44-48c4.957-5.176,8-12.268,8-20C116,28.535,103.465,16,88,16z
             M105.111,61.233C95.94,70.81,72.338,96.829,64,106.038c-8.338-9.209-31.94-35.228-41.111-44.804C18.446,56.595,16,50.475,16,44
            c0-13.233,10.767-24,24-24c8.487,0,16.177,4.37,20.57,11.69L64,37.403l3.43-5.714C71.823,24.37,79.513,20,88,20
            c13.233,0,24,10.767,24,24C112,50.475,109.554,56.595,105.111,61.233z"/>
          </svg>
         </div>
        <h3>BFF</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-type">
    <div class="col-md-12 col-md-offset">
      <div class="text-center parent">
        <h3 class="text-center typing">
          <span class="about">{</span>
          <span class="about">How You Get It</span>
          <span class="about">}</span>
          <span class="about blink">|</span>
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="container img-rounded"  ng-repeat="type in benefits">
   <div class="row row-type">
     <div class="col-md-12">
       <div class="table-responsive">
         <table class="table table-hover">
           <thead class="thead-inverse">
             <tr>
               <th ng-repeat="head in type.headTitles">
                 {{head}}
               </th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="benefit in type.benefits">
               <td class="p-table"> <p >{{benefit.title}}</p></td>
               <td> <p class="p-table">{{benefit.amount}}</p></td>
               <td ng-class="benefit.Status === 'Acquaintance' ? 'acquaintance-color' : (benefit.Status === 'Friend' ? 'friend-color' : 'bff-color')">{{benefit.Status}}</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>
</div>
<div class="container container-info">
  <div class="row text-center">
    <h4>Ready to be part of IBM Open Analytics Ecosystem Community?</h4>
    <a  class="btn btn-eco text-center" href="/#/partner/apply">Apply Now</a>
  </div>
</div>
