<div class="container">
  <div class="row ">
    <br>
    <p>
      Please send Community Manager the following files & information if you
wish to be included in our launch next week by* close of business
tomorrow. *

  <ul>
    <li> High resolution logo in vector format for re-sizing.</li>
    <li>One paragraph on your company or startup for publication on the portal.</li>
    <li>One meaningful contribution to the group:
      <br>
      <ul>
        <li>Meetup participation</li>
        <li>Free tools, training, or course materials</li>
        <li> Contributions to open source code</li>
        <li> Sample applications or reference architectures.</li>
      </ul>
      <br>
    </li>
    <li> Contact information including name, email, phone number, and address.</li>
    <li> Optional: Blog post on the open source analytics group page.</li>
  </ul>

    </p>
    <div class="text-center">
      <a class="btn btn-eco"href="mailto:community@spark.tc?subject=Open%20Analytics%20Community%20Partner">Send email</a>

    </div>
  </div>
  <br>
  <br>
</div>
